<!-- <!DOCTYPE html>
<lang="fr">
  <head>
    <title>Todo List</title>
    <meta charset="utf-8"/> -->
    <!-- <link rel="stylesheet" media="screen" type="text/css" title="Todo List" href="todolist.css" > -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Cherry+Swash:400,700' rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="server.js"></script>
  </head>

  <body> -->
    <h1>Ma todolist</h1>
    <ul>
      <li>
        Faire les courses
      </li>
      <li>
        Nourrir le chat
      </li>
      <li>
        Arroser les plantes
      </li>
      <li>
        Lire la suite du tuto sur Node.js
      </li>
    </ul>

    <p>Que dois-je faire ?
      <form>
        <input type=
      </form>
  <!-- </body>
</html> -->
